.body-bg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 93%;
    width: 100%;
}

.body-main{
    background-color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

*{
    margin: 0rem;
    padding: 0rem;
}

.main-container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.login-body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 93%;
    width: 100%;
}

form{
    padding: 6rem;
    background: rgba(255,255,255, 0.2);
    border:none;
    box-shadow: 0rem 0rem 0.3rem rgba(0,0,0,0.3);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.5s;
    overflow: hidden;

}

.form-inputs{
    width: 100%;
}

.buttons{
    align-items: center;
    justify-content: center;
    display: flex;
}

.login-button{
    margin-right: 10px;
}

.title{
    font-weight: bold;
}