@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body{
    font-family: 'Open Sans', sans-serif   !important;
    
}

a{
    cursor:pointer;
}

.error-modal-header{
    color:white;
    background-color: #d45461;
}

.modal-body{
    white-space: pre-wrap;
}

.btn.btn-error{
    background-color: #d45461;
    border-color: #d45461;
    color:white;
}

.btn.btn-error:hover{
    background-color: #963d46;
    border-color: #963d46;
}

.sidepanel-body{
    background-color: #F5E3DC;
    height: 100%;
}

.success-modal-header{
    color:white;
    background-color: #5cb481;
}

.btn.btn-success{
    background-color: #509e71;
    border-color: #509e71;
    color:white;
}

.btn.btn-success:hover{
    background-color: #40805b;
    border-color: #40805b;
}

/* CONTRASEÑA DEL CUESTIONARIO */
.margin-password{
    margin-left: 10vw;
    margin-right: 10vw;
}

/* SECCION TABLA NOTAS DE LOS ALUMNOS*/

.tabla-notas{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
}

/* SECCIÓN UPLOAD PREGUNTAS */

.margin-top-upload-question{
    margin-top: 50px;
}

